{% extends 'base2.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            font-family: 'Poppins', sans-serif;
        }

        /* Conteneur du formulaire centré */
        .form-container {
            max-width: 400px;
            margin: 100px auto;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.8rem;
            color: #333;
        }

        /* Style des champs de formulaire */
        .form-control {
            font-size: 15px;
            background: #BED3C3;
            color: #222;
            height: 50px;
            width: 100%;
            padding: 0 15px;
            border: none;
            border-radius: 30px;
            outline: none;
            transition: .2s ease;
            margin-bottom: 15px;
        }

        /* Style du bouton */
        .btn-primary {
            width: 100%;
            padding: 10px;
            background-color: #697582;
            border: none;
            color: #fff;
            font-size: 1rem;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        .btn-primary:hover {
            background-color: #556070;
        }

        .alert {
            text-align: center;
            margin-bottom: 15px;
            color: #fff;
            background-color: #e74c3c;
            padding: 10px;
            border-radius: 5px;
        }
    </style>

    <div class="form-container">
        {% if error %}
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('homepage') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <form method="post">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}
