{% extends 'base2.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            font-family: 'Poppins', sans-serif;
        }

        /* Conteneur du formulaire centré */
        .form-container {
            max-width: 400px;  /*Limite la largeur du formulaire*/
            margin: 100px auto; /*Centrage vertical et horizontal */
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.8rem;
            color: #333;
        }

        /* Style des champs de formulaire */
        .input-field {
            font-size: 15px;
            background: #BED3C3;
            color: #222;
            height: 50px;
            width: 100%; /* Champs ajustés à la largeur du conteneur */
            padding: 0 15px;
            border: none;
            border-radius: 30px;
            outline: none;
            transition: .2s ease;
        }

        .input-box {
            margin-bottom: 15px;
        }

        /* Style du bouton */
        .btn-primary {
            width: 100%; /* Largeur du bouton ajustée */
            padding: 10px;
            background-color: #697582;
            border: none;
            color: #fff;
            font-size: 1rem;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        .btn-primary:hover {
            background-color: #556070;
        }
    </style>

    <div class="form-container">
        <h1>Sign in</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div class="input-box">
            {{ form_row(registrationForm.email, {label:'Email'}) }}
        </div>
        <div class="input-box">
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
        </div>
        <div class="input-box">
            {{ form_row(registrationForm.lastname, {label: 'Nom'}) }}
        </div>
        <div class="input-box">
            {{ form_row(registrationForm.firstname, {label: 'Prenom'}) }}
        </div>
        <div class="input-box">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
