{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {label:'Email'}) }}<br>

        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}<br>

    {{ form_row(registrationForm.lastname, {label: 'Nom'}) }}<br>
    {{ form_row(registrationForm.firstname, {label: 'Prenom'}) }}<br>


    {{ form_row(registrationForm.agreeTerms) }}<br>

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
