{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<<<<<<< HEAD
=======
    <h1>Inscription</h1>
>>>>>>> sarra_branch

    <div class="container security-form">
        <div class="login-form">

<<<<<<< HEAD
            <h1>Inscription</h1>
                <br>

            {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm.email,{'attr':{'class':'form form-control','placeholder':"email"}}) }}<br>
                {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form form-control','placeholder':"Password"}}, {
                    label: 'Password'
                }) }} <br>
                {{ form_widget(registrationForm.lastname,{'attr':{'class':'form form-control','placeholder':"Nom"}}) }}<br>
                {{ form_widget(registrationForm.firstname,{'attr':{'class':'form form-control','placeholder':"Prenom"}}) }}<br>

                {{ form_row(registrationForm.agreeTerms) }}<br>

                <button type="submit" class="btn btn-block btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
=======
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {label:'Email'}) }}<br>

        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}<br>

    {{ form_row(registrationForm.lastname, {label: 'Nom'}) }}<br>
    {{ form_row(registrationForm.firstname, {label: 'Prenom'}) }}<br>


    {{ form_row(registrationForm.agreeTerms) }}<br>

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
>>>>>>> sarra_branch
{% endblock %}
